<div id="<%= dom_id meal_plan %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Meals:</strong>
    <%= meal_plan.meals %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= meal_plan.rating %>
  </p>

</div>
